<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'poll/css/style.css'%}" rel="stylesheet"/>
    <title>KinoKor.kz</title>
</head>
<body>
    <div class="main">
        <div style="align-items:center; justify-content: start;align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        width: 800px;
        height: 400px;
        margin: 0 auto;
        background-image: url(images/teatr.jfif);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 200px;" class="signing">
        <H1 class="logo" style="justify-content: center; font-size: 75px; color: rgb(209, 3, 3);margin-top: 70px; ">KinoKor</H1>
        <input style="margin-top: -30px;" type="text" class="form-control" placeholder="Қолданушы аты" aria-label="Username" aria-describedby="basic-addon1">
        <input style="margin-top: 5px;" type="text" class="form-control" placeholder="Құпия сөз" aria-label="Username" aria-describedby="basic-addon1">
        <div class="aka">
            <button style="margin-top: 5px;" type="button" class="btn btn-primary">Кіру</button>
            <button style="margin-top: 5px;" type="button" class="btn btn-primary">Тіркелу</button>
        </div>
         </div>  
         <div style="margin-top: 15px;width:400px; 
        height: 30px; 
        background-color: rgb(32, 32, 32); 
        margin:0 auto; 
        margin-top: 250px; 
        flex-direction: row;
         display: flex;
         margin-bottom: 15px;
         justify-content: space-around;" class="pages">
            <div style="margin-top: 5px; width: 20px; height: 20px; background-color: rgb(51, 51, 51);" class="1">
                <a style="padding-left:5px;padding-bottom: 5px;  color: white; text-decoration: none;" href="file:///C:/Users/DREAM%20MACHINES/Desktop/backend/testing/templates/cartoons.html">1</a>
            </div>
            <div style="margin-top: 5px; width: 20px; height: 20px; background-color: rgb(51, 51, 51);" class="2">
                <a style="padding-left:5px;padding-bottom: 5px; color: white; text-decoration: none;" href="file:///C:/Users/DREAM%20MACHINES/Desktop/backend/testing/templates/Project.html">2</a>
            </div>
            <div style="margin-top: 5px; width: 20px; height: 20px; background-color: rgb(51, 51, 51);" class="3">
                <a style="padding-left:5px;padding-bottom: 5px;  color: white; text-decoration: none;" href="file:///C:/Users/DREAM%20MACHINES/Desktop/backend/testing/templates/koru.html">3</a>
            </div>
            <div style="margin-top: 5px; width: 20px; height: 20px; background-color: rgb(51, 51, 51);" class="4">
                <a style="padding-left:5px;padding-bottom: 5px;  color: white; text-decoration: none;" href="file:///C:/Users/DREAM%20MACHINES/Desktop/backend/testing/templates/sign.html">4</a>
            </div>
            <div style="margin-top: 5px; width: 20px; height: 20px; background-color: rgb(51, 51, 51);;" class="5">
                <a style="padding-left:5px;padding-bottom: 5px;  color: white; text-decoration: none;" href="">5</a>
            </div>
            
        </div>

    </div>


</body>
</html>